In [1]:
# package imports go here
import pandas as pd
import numpy as np
import fastparquet as fp

In [2]:
# Read TmAX weather paqquet file into a pandas dataframe to verify data integrity is maintained
weather_data_TMAX_df = pd.read_parquet('result_files/us_ca_daily_TMAX_weather.parquet.gzip', engine="fastparquet") 
weather_data_TMAX_df

,-50 To -25,-25 To -10,-10 To 0,0 To 10,10 To 20,20 To 25,25 To 32,32 To 40,40 To 55,55 To 60,...,65 To 70,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125
index,,,,,,,,,,,,,,,,,,,,,
CA001011500,0,0,0,0,0,0,1,9,160,29,...,30,34,34,11,6,2,0,0,0,0
CA001012055,0,0,0,0,0,0,2,4,91,16,...,13,12,17,13,16,10,2,2,0,0
CA001012475,0,0,0,0,0,0,0,6,180,59,...,42,11,8,2,0,0,0,0,0,0
CA001012710,0,0,0,0,0,0,0,8,165,44,...,39,37,10,5,0,0,0,0,0,0
CA001014820,0,0,0,0,0,0,2,27,153,29,...,33,38,33,17,4,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USW00096405,0,0,0,0,0,3,13,63,133,50,...,9,4,1,0,0,0,0,0,0,0
USW00096406,2,11,17,40,49,18,42,28,49,21,...,25,23,10,6,2,0,0,0,0,0
USW00096407,0,6,21,30,31,19,43,28,52,20,...,23,16,9,1,0,0,0,0,0,0
USW00096408,0,1,12,29,54,37,31,43,68,23,...,21,11,5,0,0,0,0,0,0,0
USW00096409,0,26,44,40,41,19,41,33,61,18,...,7,13,4,0,0,0,0,0,0,0

In [3]:
weather_data_TMAX_df.reset_index(inplace=True)
weather_data_TMAX_df.rename(columns={'index': 'ID'}, inplace=True)
weather_data_TMAX_df

,ID,-50 To -25,-25 To -10,-10 To 0,0 To 10,10 To 20,20 To 25,25 To 32,32 To 40,40 To 55,...,65 To 70,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125
0,CA001011500,0,0,0,0,0,0,1,9,160,...,30,34,34,11,6,2,0,0,0,0
1,CA001012055,0,0,0,0,0,0,2,4,91,...,13,12,17,13,16,10,2,2,0,0
2,CA001012475,0,0,0,0,0,0,0,6,180,...,42,11,8,2,0,0,0,0,0,0
3,CA001012710,0,0,0,0,0,0,0,8,165,...,39,37,10,5,0,0,0,0,0,0
4,CA001014820,0,0,0,0,0,0,2,27,153,...,33,38,33,17,4,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8682,USW00096405,0,0,0,0,0,3,13,63,133,...,9,4,1,0,0,0,0,0,0,0
8683,USW00096406,2,11,17,40,49,18,42,28,49,...,25,23,10,6,2,0,0,0,0,0
8684,USW00096407,0,6,21,30,31,19,43,28,52,...,23,16,9,1,0,0,0,0,0,0
8685,USW00096408,0,1,12,29,54,37,31,43,68,...,21,11,5,0,0,0,0,0,0,0
8686,USW00096409,0,26,44,40,41,19,41,33,61,...,7,13,4,0,0,0,0,0,0,0

In [4]:
# Read Ground Station locations
ground_stations_US_CA = pd.read_csv('result_files/US_CA_Station_locations.csv')
ground_stations_US_CA

                ID      Lat       Lon  Elevation State                    Name
0      CA001010066  48.8667 -123.2833        4.0    BC             ACTIVE PASS
1      CA001010235  48.4000 -123.4833       17.0    BC             ALBERT HEAD
2      CA001010595  48.5833 -123.5167       85.0    BC  BAMBERTON OCEAN CEMENT
3      CA001010720  48.5000 -124.0000      351.0    BC              BEAR CREEK
4      CA001010774  48.5000 -123.3500       61.0    BC             BEAVER LAKE
...            ...      ...       ...        ...   ...                     ...
81472  USW00096405  60.4731 -145.3542       25.3    AK          CORDOVA 14 ESE
81473  USW00096406  64.5014 -154.1297       78.9    AK             RUBY 44 ESE
81474  USW00096407  66.5620 -159.0036        6.7    AK            SELAWIK 28 E
81475  USW00096408  63.4519 -150.8747      678.2    AK             DENALI 27 N
81476  USW00096409  68.6483 -149.3986      750.1    AK       TOOLIK LAKE 5 ENE

[81477 rows x 6 columns]

In [5]:
US_CA_Ground_Stations_n_locations = pd.merge(ground_stations_US_CA, weather_data_TMAX_df, on='ID', how='inner')

In [6]:
US_CA_Ground_Stations_n_locations

,ID,Lat,Lon,Elevation,State,Name,-50 To -25,-25 To -10,-10 To 0,0 To 10,...,65 To 70,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125
0,CA001011500,48.9333,-123.7500,75.0,BC,CHEMAINUS,0,0,0,0,...,30,34,34,11,6,2,0,0,0,0
1,CA001012055,48.8333,-124.0500,171.0,BC,LAKE COWICHAN,0,0,0,0,...,13,12,17,13,16,10,2,2,0,0
2,CA001012475,48.4167,-123.2333,15.0,BC,DISCOVERY ISLAND,0,0,0,0,...,42,11,8,2,0,0,0,0,0,0
3,CA001012710,48.4333,-123.4333,3.0,BC,ESQUIMALT HARBOUR,0,0,0,0,...,39,37,10,5,0,0,0,0,0,0
4,CA001014820,48.5667,-123.5333,366.0,BC,MALAHAT,0,0,0,0,...,33,38,33,17,4,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8682,USW00096405,60.4731,-145.3542,25.3,AK,CORDOVA 14 ESE,0,0,0,0,...,9,4,1,0,0,0,0,0,0,0
8683,USW00096406,64.5014,-154.1297,78.9,AK,RUBY 44 ESE,2,11,17,40,...,25,23,10,6,2,0,0,0,0,0
8684,USW00096407,66.5620,-159.0036,6.7,AK,SELAWIK 28 E,0,6,21,30,...,23,16,9,1,0,0,0,0,0,0
8685,USW00096408,63.4519,-150.8747,678.2,AK,DENALI 27 N,0,1,12,29,...,21,11,5,0,0,0,0,0,0,0
8686,USW00096409,68.6483,-149.3986,750.1,AK,TOOLIK LAKE 5 ENE,0,26,44,40,...,7,13,4,0,0,0,0,0,0,0

In [7]:
# Not needed anymore
#US_CA_Ground_Stations_n_locations.drop(columns=['GSN', 'HCN/CRN', 'WMO ID'], inplace=True)
#US_CA_Ground_Stations_n_locations

In [8]:
US_CA_Ground_Stations_n_locations.columns

Index(['ID', 'Lat', 'Lon', 'Elevation', 'State', 'Name', '-50 To -25',
       '-25 To -10', '-10 To 0', '0 To 10', '10 To 20', '20 To 25', '25 To 32',
       '32 To 40', '40 To 55', '55 To 60', '60 To 65', '65 To 70', '70 To 75',
       '75 To 80', '80 To 85', '85 To 90', '90 To 95', '95 To 100',
       '100 To 110', '110 To 120', '120 To 125'],
      dtype='object')

In [9]:
US_CA_Ground_Stations_n_locations.dtypes

ID             object
Lat           float64
Lon           float64
Elevation     float64
State          object
Name           object
-50 To -25      int64
-25 To -10      int64
-10 To 0        int64
0 To 10         int64
10 To 20        int64
20 To 25        int64
25 To 32        int64
32 To 40        int64
40 To 55        int64
55 To 60        int64
60 To 65        int64
65 To 70        int64
70 To 75        int64
75 To 80        int64
80 To 85        int64
85 To 90        int64
90 To 95        int64
95 To 100       int64
100 To 110      int64
110 To 120      int64
120 To 125      int64
dtype: object

In [11]:
US_CA_Ground_Stations_n_locations['total days'] = US_CA_Ground_Stations_n_locations[['-50 To -25', '-25 To -10', '-10 To 0', '0 To 10', '10 To 20', 
                                                                                     '20 To 25', '25 To 32', '32 To 40', '40 To 55', '55 To 60', '60 To 65', 
                                                                                     '65 To 70', '70 To 75', '75 To 80', '80 To 85', '85 To 90', '90 To 95', 
                                                                                     '95 To 100', '100 To 110', '110 To 120', '120 To 125']].sum(axis=1)

In [12]:
US_CA_Ground_Stations_n_locations

,ID,Lat,Lon,Elevation,State,Name,-50 To -25,-25 To -10,-10 To 0,0 To 10,...,70 To 75,75 To 80,80 To 85,85 To 90,90 To 95,95 To 100,100 To 110,110 To 120,120 To 125,total days
0,CA001011500,48.9333,-123.7500,75.0,BC,CHEMAINUS,0,0,0,0,...,34,34,11,6,2,0,0,0,0,343
1,CA001012055,48.8333,-124.0500,171.0,BC,LAKE COWICHAN,0,0,0,0,...,12,17,13,16,10,2,2,0,0,214
2,CA001012475,48.4167,-123.2333,15.0,BC,DISCOVERY ISLAND,0,0,0,0,...,11,8,2,0,0,0,0,0,0,364
3,CA001012710,48.4333,-123.4333,3.0,BC,ESQUIMALT HARBOUR,0,0,0,0,...,37,10,5,0,0,0,0,0,0,352
4,CA001014820,48.5667,-123.5333,366.0,BC,MALAHAT,0,0,0,0,...,38,33,17,4,4,0,0,0,0,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8682,USW00096405,60.4731,-145.3542,25.3,AK,CORDOVA 14 ESE,0,0,0,0,...,4,1,0,0,0,0,0,0,0,311
8683,USW00096406,64.5014,-154.1297,78.9,AK,RUBY 44 ESE,2,11,17,40,...,23,10,6,2,0,0,0,0,0,364
8684,USW00096407,66.5620,-159.0036,6.7,AK,SELAWIK 28 E,0,6,21,30,...,16,9,1,0,0,0,0,0,0,318
8685,USW00096408,63.4519,-150.8747,678.2,AK,DENALI 27 N,0,1,12,29,...,11,5,0,0,0,0,0,0,0,364
8686,USW00096409,68.6483,-149.3986,750.1,AK,TOOLIK LAKE 5 ENE,0,26,44,40,...,13,4,0,0,0,0,0,0,0,364

In [13]:
US_CA_Ground_Stations_n_locations.columns

Index(['ID', 'Lat', 'Lon', 'Elevation', 'State', 'Name', '-50 To -25',
       '-25 To -10', '-10 To 0', '0 To 10', '10 To 20', '20 To 25', '25 To 32',
       '32 To 40', '40 To 55', '55 To 60', '60 To 65', '65 To 70', '70 To 75',
       '75 To 80', '80 To 85', '85 To 90', '90 To 95', '95 To 100',
       '100 To 110', '110 To 120', '120 To 125', 'total days'],
      dtype='object')

In [14]:
#US_CA_Ground_Stations_n_locations['>'] = US_CA_Ground_Stations_n_locations(['90 To 100','100 To 110', '110 To 120'].sum(axis=1))/US_CA_Ground_Stations_n_locations['total days']
#'-10 To 0', '0 To 10',
                                                                                    # '-10 To 0',
                                                                                    # '0 To 10',
                                                                                    # '10 To 20', 
                                                                                    # '20 To 25', 
                                                                                    # '25 To 32', 
                                                                                    # '32 To 40', 
                                                                                    # '40 To 55', 
                                                                                    # '55 To 60', 
                                                                                    # '60 To 65',
                                                                                    # '65 To 70', 
                                                                                    # '70 To 75', 
                                                                                    # '75 To 80', 
                                                                                    # '80 To 85', 
                                                                                    # '85 To 90', 
                                                                                    # '90 To 95',
                                                                                    # '95 To 100',
                                                                                    # '100 To 110', 
                                                                                    # '110 To 120'

# Calculate Days>90
US_CA_Ground_Stations_n_locations['Days>60'] = (US_CA_Ground_Stations_n_locations[['90 To 95', '95 To 100', '100 To 110', '110 To 120']].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>65
US_CA_Ground_Stations_n_locations['Days>65'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '65 To 70', 
                                                                                    '70 To 75', 
                                                                                    '75 To 80', 
                                                                                    '80 To 85', 
                                                                                    '85 To 90',
                                                                                    '90 To 95',
                                                                                    '95 To 100',
                                                                                    '100 To 110', 
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>70
US_CA_Ground_Stations_n_locations['Days>70'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '70 To 75', 
                                                                                    '75 To 80', 
                                                                                    '80 To 85', 
                                                                                    '85 To 90',
                                                                                    '90 To 95',
                                                                                    '95 To 100',
                                                                                    '100 To 110', 
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)
# Calculate Days>75
US_CA_Ground_Stations_n_locations['Days>75'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '75 To 80', 
                                                                                    '80 To 85', 
                                                                                    '85 To 90',
                                                                                    '90 To 95',
                                                                                    '95 To 100',
                                                                                    '100 To 110', 
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)
# Calculate Days>80
US_CA_Ground_Stations_n_locations['Days>80'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '80 To 85', 
                                                                                    '85 To 90',
                                                                                    '90 To 95',
                                                                                    '95 To 100',
                                                                                    '100 To 110', 
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)
# Calculate Days>85
US_CA_Ground_Stations_n_locations['Days>85'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '85 To 90',
                                                                                    '90 To 95',
                                                                                    '95 To 100',
                                                                                    '100 To 110', 
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>90
US_CA_Ground_Stations_n_locations['Days>90'] = (US_CA_Ground_Stations_n_locations[['90 To 95', '95 To 100', '100 To 110', '110 To 120']].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days>100
US_CA_Ground_Stations_n_locations['Days>100'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '100 To 110', 
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)
# Calculate Days>110
US_CA_Ground_Stations_n_locations['Days>110'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '110 To 120'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [15]:
# Calculate Days<0
US_CA_Ground_Stations_n_locations['Days<0'] = (US_CA_Ground_Stations_n_locations[['-10 To 0'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<10
US_CA_Ground_Stations_n_locations['Days<10'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<25
US_CA_Ground_Stations_n_locations['Days<20'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<32
US_CA_Ground_Stations_n_locations['Days<32'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<40
US_CA_Ground_Stations_n_locations['Days<40'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<55
US_CA_Ground_Stations_n_locations['Days<55'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 55'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<60
US_CA_Ground_Stations_n_locations['Days<60'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 55', 
                                                                                    '55 To 60'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

# Calculate Days<65
US_CA_Ground_Stations_n_locations['Days<65'] = (US_CA_Ground_Stations_n_locations[['-10 To 0',
                                                                                    '0 To 10',
                                                                                    '10 To 20', 
                                                                                    '20 To 25', 
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 55', 
                                                                                    '55 To 60', 
                                                                                    '60 To 65'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [16]:
# Calculate Days between 75 & 95
US_CA_Ground_Stations_n_locations['Days-75-95'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '75 To 80', 
                                                                                    '80 To 85', 
                                                                                    '85 To 90',
                                                                                    '90 To 95'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [17]:
# Calculate Days between 25 & 55
US_CA_Ground_Stations_n_locations['Days-25-55'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '25 To 32', 
                                                                                    '32 To 40', 
                                                                                    '40 To 55'
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [18]:
# Calculate Days between 60- & 80
US_CA_Ground_Stations_n_locations['Days-60-80'] = (US_CA_Ground_Stations_n_locations[[
                                                                                    '60 To 65',
                                                                                    '65 To 70', 
                                                                                    '70 To 75', 
                                                                                    '75 To 80' 
                                                                                    ]].sum(axis=1) 
                                                 / US_CA_Ground_Stations_n_locations['total days'] * 365).round(2)

In [19]:
US_CA_Ground_Stations_n_locations

,ID,Lat,Lon,Elevation,State,Name,-50 To -25,-25 To -10,-10 To 0,0 To 10,...,Days<10,Days<20,Days<32,Days<40,Days<55,Days<60,Days<65,Days-75-95,Days-25-55,Days-60-80
0,CA001011500,48.9333,-123.7500,75.0,BC,CHEMAINUS,0,0,0,0,...,0.00,0.00,1.06,10.64,180.90,211.76,240.50,56.40,180.90,133.02
1,CA001012055,48.8333,-124.0500,171.0,BC,LAKE COWICHAN,0,0,0,0,...,0.00,0.00,3.41,10.23,165.44,192.73,220.02,95.51,165.44,98.93
2,CA001012475,48.4167,-123.2333,15.0,BC,DISCOVERY ISLAND,0,0,0,0,...,0.00,0.00,0.00,6.02,186.51,245.67,301.83,10.03,186.51,117.32
3,CA001012710,48.4333,-123.4333,3.0,BC,ESQUIMALT HARBOUR,0,0,0,0,...,0.00,0.00,0.00,8.30,179.39,225.01,270.64,15.55,179.39,134.80
4,CA001014820,48.5667,-123.5333,366.0,BC,MALAHAT,0,0,0,0,...,0.00,0.00,2.02,29.24,183.51,212.75,234.93,58.48,183.51,127.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8682,USW00096405,60.4731,-145.3542,25.3,AK,CORDOVA 14 ESE,0,0,0,0,...,0.00,0.00,18.78,92.72,248.81,307.49,348.57,1.17,245.29,57.51
8683,USW00096406,64.5014,-154.1297,78.9,AK,RUBY 44 ESE,2,11,17,40,...,57.16,106.29,166.46,194.53,243.67,264.73,285.78,18.05,119.33,79.22
8684,USW00096407,66.5620,-159.0036,6.7,AK,SELAWIK 28 E,0,6,21,30,...,58.54,94.12,165.28,197.42,257.11,280.06,301.87,11.48,141.18,76.90
8685,USW00096408,63.4519,-150.8747,678.2,AK,DENALI 27 N,0,1,12,29,...,41.11,95.26,163.45,206.57,274.75,297.82,326.90,5.01,142.39,66.18
8686,USW00096409,68.6483,-149.3986,750.1,AK,TOOLIK LAKE 5 ENE,0,26,44,40,...,84.23,125.34,185.51,218.60,279.77,297.82,314.86,4.01,135.37,41.11

In [20]:
# Writing to parquet
US_CA_Ground_Stations_n_locations.to_parquet('result_files/us_ca_weather_bins.parquet.gzip', compression='gzip', engine="fastparquet")

In [21]:
US_CA_Ground_Stations_n_locations = pd.read_parquet('result_files/us_ca_weather_bins.parquet.gzip', engine="fastparquet") 
US_CA_Ground_Stations_n_locations.dtypes

ID             object
Lat           float64
Lon           float64
Elevation     float64
State          object
Name           object
-50 To -25      int64
-25 To -10      int64
-10 To 0        int64
0 To 10         int64
10 To 20        int64
20 To 25        int64
25 To 32        int64
32 To 40        int64
40 To 55        int64
55 To 60        int64
60 To 65        int64
65 To 70        int64
70 To 75        int64
75 To 80        int64
80 To 85        int64
85 To 90        int64
90 To 95        int64
95 To 100       int64
100 To 110      int64
110 To 120      int64
120 To 125      int64
total days      int64
Days>60       float64
Days>65       float64
Days>70       float64
Days>75       float64
Days>80       float64
Days>85       float64
Days>90       float64
Days>100      float64
Days>110      float64
Days<0        float64
Days<10       float64
Days<20       float64
Days<32       float64
Days<40       float64
Days<55       float64
Days<60       float64
Days<65       float64
Days-75-95    float64
Days-25-55    float64
Days-60-80    float64
dtype: object